logs:
  image: viljaste/logs:latest
  hostname: logs
  restart: always
  ports:
    - "80:80"
  volumes:
    - /var/run/docker.sock:/var/run/docker.sock
    - /var/lib/docker/containers:/var/lib/docker/containers
